 body{
 	margin: 0px;
 	padding: 0px;
 	font-family:sans-serif;
 	overflow-x:hidden; 
 }
 #navbar{
 	width: 100%;
 	height: 60px;
 	line-height: 60px;
 	position: fixed;
 	padding-left: 3%;
 	padding-right: 3%;
 	display:inline-flex; 
 	background-color: white;
 	z-index: 9999;
 }
 .menu{
 	margin: 0px;
 	margin-left: auto;
 	margin-right:6%;
 }


 .menu li{
 	display: inline-block;
 	float:left;
 	line-height: 60px;
 	margin-top: 0px;
 	margin-bottom: 0px;
 }
 #navbar ul li a{
 	list-style: none;
 	text-decoration: none;
 	font-weight: 200;
 	color: #7f8893;
 	padding-right: 16px;
    padding-left: 16px;
    font-size: 15px;
    line-height: 15px;
    cursor: pointer;
     
 }
 #navbar ul li:hover{
 	background-color: #eee;
 }
 .buy-btn{
 	height: 40px;
    min-width: 110px;
    margin-top: 10px;
    padding-right: 25px;
    padding-left: 25px;
    border: 2px solid #0bc75b;
    border-radius: 30px;
    color: #0bc75b;
    font-size: 13px;
    background-color: white;
    text-align: center;
    cursor: pointer;
 }
 .buy-btn:hover{
 	background-color:#0bc75b;
 	color: white;

 }
 .icon{
 	display:none;
 	margin-left: 70%; 
 	cursor: pointer;
 }
 section{
 	float: left;
 	margin-top: 60px;
 	width: 94%;
 	margin-left:  3%;
 	margin-right: 3%;
 }
 .main{
 	text-align: center;

}
.main .bussiness{
	font-size: 18px;
	margin-top: 50px;
	color: #aaa;
}
 .img-heading{
 	margin-top: 15px;
 	width: 55%;
 	text-align: center;
 	margin-left: auto;
 	margin-right: auto;
 }
 .top-heading{
 	font-size: 55.5px;
    line-height: 65px;
    font-weight: 700;
   text-align: center;
   margin: 0px;
   color: #3e4348;
 } 
 .middle-heading{
 	color: #7f8893;
    font-size: 20px;
    line-height: 30px;
 }
  .btn-left{
  	padding: 18px 28px;
  	background-color: #6d48e5;
  	color: white;
  	border: 0px solid  #6d48e5;
  	border-radius: 25px;
  	 box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  	 margin-bottom: 15px;
  	 cursor: pointer;
  }
  .btn-left:hover{
  	 box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
  }
  .top-img{
  	margin-top: 50px;
  	text-align: center;
  }
  .about{
  	text-align: center;
  }
  .design-header{
  	 text-align: center;
  }
  .head-box{
  	width: 40%;
  	display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .head-box h2{
  	font-size: 48.5px;line-height: 50px;
  	margin: 0px 0px 10px;
  }
  .box{
  	float: left;
  	width: 100%;
  	display: flex;
  	margin-top: 50px;
  }
  .home-box{
  	display: flex;
    overflow: hidden;
    width: 30%;
    text-align: center;
    padding: 35px;
    flex-direction: column;
    border-style: solid solid solid solid;
    border-width: 1px;
    border-color: #a4aebe;
    border-top-left-radius: 7.5px;
    border-bottom-left-radius: 7.5px;
    
     
    
  }
  .box-img{
  	height: 50px;
  	width: 50px;
  	background-color: blue;
  	color: white;
  	border-radius: 50%;
  	display: block;
  	 text-align: center;
  	 margin-left: 40%;
  	}
  .box-img i{
  	margin-top: 5px;
  }
   
  .box-txt h2{
  	margin: 10px 0px;
  }
  .box-txt-2 h2{
  	margin: 10px 0px;
  	font-size: 18px;
  	color: #aaa;
  	font-weight: 200;
  }
  .more h4{
  	font-weight: 300;
  	margin: 10px 0px;
  }
  .cart-box{
  	display: flex;
    overflow: hidden;
    width: 30%;
    padding: 35px;
    flex-direction: column;
    border-style: solid solid solid solid;
    border-width: 1px;
    border-color: #a4aebe;
  }
   
  .team-box{
  	display: flex;
    overflow: hidden;
    width: 30%;
    padding: 35px;
    flex-direction: column;
    border-style: solid solid solid solid;
    border-width: 1px;
    border-color: #a4aebe;
    border-bottom-right-radius: 7.5px;
    border-top-right-radius: 7.5px;
  }
 .left-column{
 	width: 50%;
 	float: left;
 	margin-top: 40px;
 }
 .col-top-txt{
 	text-align: center;
 	color: #aaa;
 	padding-left: 15%;
 	padding-right: 15%; 
 }
 .future-txt-main{
 	text-align: center;
 	 
 }
 .future-txt-bottom{
 	font-size: 20px;
 	margin: 10px 0px 10px;
 }
 .future-txt{
 	font-size: 42.5px;
    line-height: 50px;
    text-align: center;
    color: #3e4348;
    font-weight: 700;
 }
 .right-column{
 	width: 50%;
 	float: left;
 	margin-top: 40px;
 }
.team-txt{
	text-align: center;
	padding-right: 15%;
	padding-left: 15%;
}
.team-header{
	font-size: 42.5px;
	margin: 0px 0px 10px;
	font-weight: 700;
	padding-right: 20%;
	padding-left: 20%;
}
.team-txt-bottom{
	color: #7f8893;
    font-size: 20px;
    line-height: 28px;
	padding-right: 20%;
	padding-left: 20%;
}
.card-img-top{
	width: 100%;
	display: flex;
	justify-content: space-around;
}
.card-img{
	width: 30%;
	float: left;
	border-radius: 10px;
}
.card-img2{
	width: 30%;
	float: left;
	margin-top: 40px;
	border-radius: 10px;
}
.card-img3{
	width: 30%;
	float: left;
	margin-top: 80px;
	border-radius: 10px;
}
 .card-box{
 	width: 100%;
 	float: left;
 	 display: flex;
	justify-content: space-around;

 }
 .web-box{
 	width: 30%;
	float: left;
	 margin: 01%;

	border: 1px solid white;
    padding: 40px 56px;
    background-color: white;
    text-align: center;
    border-top: 6px solid #4353ff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
 }
 .box-img i{
 	margin-top: 5px;
 }
 .web-txt{
 	color: #3e4348;
 	margin-bottom: 10px;
 	font-size: 23px;
    line-height: 27px;
    font-weight: 700;
    margin-top: 10px;
 }
 .web-txt-subtitle{
 	font-size: 18px;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 10px;
    color: #7f8893;
 }
 .work-bottom-section{
 	width: 100%;
	display: flex;
	justify-content: space-around;
 }
 .work-img{
 	 width: 30%;
    



 }

 .w-bg-img{
 	width: 100%;
 	height: 400px;
    background-image: url('img/toyota.jpg');
    background-attachment: fixed;
    background-size:100%;
    border-radius: 8px;
    background-position:70% 30%;
    background-repeat: no-repeat;
 
 }
 .w-bg-img2{
 	width: 100%;
 	height: 400px;
    background-image: url('img/5c378920349822d0cd497c57_Samsung.jpg');
    background-attachment: fixed;
    background-size:100% cover;
    border-radius: 8px;
    background-position: center;
    background-repeat: no-repeat;
 
 }
 .w-bg-img3{
 	width: 100%;
 	height: 400px;
    background-image: url('img/5c37890f4a7918a52d0c6fe8_Nudel.jpg');
    background-attachment: fixed;
    background-size: cover;
    border-radius: 8px;
    background-position: center;
    background-repeat: no-repeat;
 
 }
 .w-bg-img4{
 	width: 100%;
 	height: 400px;
    background-image: url('img/5c3788b3996f274105d5bc9b_Roy.jpg');
    background-attachment: fixed;
    background-size: cover;
    border-radius: 8px;
    background-position: center;
    background-repeat: no-repeat;
 
 }
 .w-bg-img5{
 	width: 100%;
 	height: 400px;
    background-image: url('img/5c37890f4a7918a52d0c6fe8_Nudel.jpg');
    background-attachment: fixed;
    background-size:100% cover;
    border-radius: 8px;
    background-position: center;
    background-repeat: no-repeat;
 
 }
 .w-bg-img6{
 	width: 100%;
 	height: 400px;
    background-image: url('img/5c37882a78c763fe7843e29d_Supermatic.jpg');
    background-attachment: fixed;
    background-size: cover;
    border-radius: 8px;
    background-position: center;
    background-repeat: no-repeat;
 
 }

 .w-bg-img-txt{
 	font-size: 23px;
 	margin: 20px 0px 0px;
 	color: #3e4348;
 	font-weight: 700;
 	text-align: center;
 }
 .w-bg-img-sub-txt{
 	font-size: 18px;
 	color: #7f8893;
 	text-align: center;
 	margin: 10px 0px 0px;
 }
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;

}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.web-txt-bottom{
	color: #3e4348;
 	margin-bottom: 10px;
 	font-size: 42px;
    line-height: 27px;
    font-weight: 700;
    margin-top: 20px;
}
.web-txt-subtitle-bottom{
	font-size: 22px;
    line-height: 26px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #7f8893;
    font-weight: 700;
}
.card-bottm-containt{
	width: 100%;
	display: flex;
}
.side-img{
	width: 20%;
	float: left;
}
.side-content{
	width: 80%;
	float: left;
	text-align: left;
}
.side-txt{
	color: #3e4348;
    font-size: 19px;
    line-height: 31px;
    font-weight: 600;
}
.side-txt-small{
	    font-size: 17px;
    line-height: 23px;
        color: #7f8893;
}
.bottom-btn{
	width: 100%;
	float: left;

}
.plan-btn{
	 width: 100%;
	 padding: 20px;
	 margin-top: 3%;
	 font-weight: 700;
	 background-color:  #4353ff;
	 border-radius: 4px;
	 border:1px solid #4353ff;
	 color: white;
	 cursor: pointer;
}
.cap-section{
	width: 100%;
	float: left;
}
.cap-detail{
	width: 50%;
	float: left;
}
.cap-img{
	width: 50%;
	float: left;
	display: flex;
	margin-bottom: 120px;
}
.cap-detail-txt{
	font-size: 42px;
	color: #3e4348;
	font-weight: 700;
}
.bag{
	 margin: 20% 5% 0% 0%;

}
 
.rating-img img{
	text-align: center;
}
.commt-txt{
	width: 100%;
	float: left;
	margin: 5%;
	
}
.ceo-txt{
	width: 30%;
	float: left;
	
} 
.cmt-txt{
	background-color: white;
	padding: 25px 36px 20px;
	border-radius: 4px;
	margin-left: 2%;
	margin-right: 2%;
}
.cmt-txt p{
	font-size: 17px;
	color: #aaa;
}
.ceo-img{
	width: 100%;

	 }
.left-cmt-txt{
	width: 20%;
	float: left;
	text-align: right;
	margin: 1%;
}
.right-detail-txt{
	width: 80%;
	text-align: left;
	margin: 1%;
}
.ceo-img img{
	border-radius: 50%;
	border:1px solid green;
	padding: 2px;
}
.owner-txt{
	width: 30%;
	float: left;
}
.photo-txt{
	width: 30%;
	float: left;
}
.circle-img-txt{
	width: 100%;
	float: left;
	text-align: center;
	justify-content: space-around;
}
.circle-img-txt-2{
	width: 100%;
	float: left;
}
.cap-img-circle{
	width: 50%;
	float: left;
	display: flex;
}
.circle-img-txt img{
	margin: 20px;
}

.bg-img-overlay{
	width: 100%;
    display:flex;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 80px;
}
.bg-overlay-1{
	width: 30%;
	overflow: hidden;
	margin: 1%;
	float: left;
	background-image: url('img/5c37cee691d14c4b87fc0fc7_1.jpg');
	height: 400px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 4px;
	color: white;
	 

}
.overlay-contant{
  position: relative;
  margin-top:;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 95%;
  padding: 20px;
  top:60% !important;
  padding-bottom: 10%;
}
.bg-overlay-2{
	margin: 1%;
	overflow: hidden;
	width: 30%;
	float: left;
	border-radius: 4px; 
	background-image: url('img/5c37cecf4bdc92afba9fc7fb_2.jpg');
	height: 400px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.bg-overlay-3{
	margin: 1%;
	overflow: hidden;
	width: 30%;
	float: left;
	background-image: url('img/5c37ceba531494fba5bfdc6c_3.jpg');
	height: 400px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 4px;
}
.bg-overlay-3:hover{
	 box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	 
	 cursor: pointer;
}
.bg-overlay-2:hover{
	 box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	  
	 cursor: pointer;
}
.bg-overlay-1:hover{
	 box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	 
	 cursor: pointer;
}
.footer{
	text-align: center;
	margin-top: 80px;
	color: white;
}
.footer-menu-item{
	 
}
.footer-menu{
	 text-align: center;
	 margin-top: 30px;
}
.footer-menu a{
	 list-style: none;
	 text-decoration: none;
	 font-weight: 700;
	 color: white;
	 margin-left: 20px;

}
.footer-menu a:hover{
	color:#ccc;
	cursor: pointer;
}
.social-icon{
	margin-top: 30px;
	margin-bottom: 30px;
}
.social-icon img:hover{
	height: 39px;
	width: 39px;
	cursor: pointer;
}
.footer-note{
	margin-bottom: 30px;
}
.footer-note a{
	color: white;


}
.bg-tometo{
	background-color:red;
	height: 120px;
	border-radius: 50%;
	width: 120px;
}
.bg-yellow{
	background-color:yellow;
	height: 100px;
	border-radius: 50%;
	width: 100px;
	margin:10%; 
}
.bg-blue{
	background-color:blue;
	height: 220px;
	border-radius: 50%;
	width: 220px;
	margin:%; 
}
.bg-top-col{
	width: 50%;
	float: left;
	display: inline-block;
	text-align: center;
}
.bg-top{
	width: 100%;
	float: left;
	text-align: center;
	margin-left:30%;
}
.bg-middle{
	width: 100%;
	float: left;
	text-align: center;
	display: flex;
}
.bg-dodger{
	background-color:dodgerblue;
	height: 130px;
	border-radius: 50%;
	width: 130px;
	margin:%; 
}
.bg-black{
	background-color:black;
	height: 130px;
	border-radius: 50%;
	width: 130px;
	margin:%; 
}
.bg-bottom{
	width: 100%;
	float: left;
	text-align: center;
	display: flex;
	margin-left: 20%;
}
.bg-txt{
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	color: white;
}
.bg-green{
	background-color:green;
	height: 100px;
	border-radius: 50%;
	width: 100px;
	margin:10%; 
}
@media screen and (max-width: 680px){
	.icon{
		margin-left: 72% !important;
	}
	.web-box{
	 	width: 60% !important;
		margin-left: 7%;
		margin-top: 10%;

	 }
	 .side-txt-small{
	 	font-size: 13.5px;
	 }
	 .home-box{
	    width: 82% !important;
	    border-top-right-radius: 7.5px;
	    border-bottom-left-radius:0px; 
	  }
	  .cart-box{
	  	 width: 82% !important;
	  }
	  .team-box{
	  	 width: 82% !important;
	  	border-bottom-left-radius:7.5px;
	  	border-top-right-radius:0px;
	  }
	  .bg-top-col{
		 	width: 100%;
		 }
		 .bg-tometo img{
		 	margin-top: 18% !important;
		 	width: 70%;
		 	height: 70%;
		 }
		 .bg-blue img{
		 	width: 50%;
		 	height: 50%;
		 }
		 .bg-blue{
		 	width: 90%;
		 	height: 90%;
		 }
		 .bg-yellow img{
		 	width: 50%;
		 	height: 50%;
		 }
		 .bg-yellow{
		 	width: 50%;
		 	height: 50%;
		 }
		 .bg-dodger img{

		 	margin-top: 20% !important;
		 	width: 50%;
		 	height: 50%;
		 }
		 .bg-dodger{
		 	width: 70%;
		 	height: 70%;
		 }
		 .footer-note a{
		 	margin: 2%;
		 }
		 .footer-menu a{
		 	display: block !important;
		 	margin: 3%;
		 	font-size: 16px;

		 }
}
 
 @media screen and (max-width: 860px){
 	.menu{
 		display:none;


 	}
 	#navbar{
 		display:inline-block;
 	}
 	.menu li button{
 		margin-bottom: 10% !important;
 	}
 	.menu li{
 		display: block;
 		width: 90%;
 		height: 90%;
 		text-align: center !important;
 		margin-left: 0% !important;
 		background-color:white !important
 	}
 	.menu li:hover{
 		background-color: #eee !important;
 	}
 	.icon{
 		display:block; ;
 		margin-left: 90% !important;
 		margin-top: -65px !important;
 		position: fixed;
 	}
 	.top-heading{
	 	font-size: 44px;
	    line-height: 50px;
	     
	 }
	 .head-box h2{
	  	font-size: 37px;
	  	line-height: 40px;
	  	color:  #3e4348;
	  	font-weight: 700;
	  }
	  .box{
	  	float: left;
	  	width: 100%;
	  	display:block;
	  }
	  .home-box{
	    width: 85%;
	  }
	  .cart-box{
	  	width: 85%;
	  }
	  .team-box{
	  	width: 85%;
	  }
	  .left-column{
	 	width: 100%;
	 }
	 .right-column{
	 	width: 100%;
	 }
	.team-txt{
		padding-right: 0%;
		padding-left: 0%;
	}
	.team-header{
		padding-right: 0%;
		padding-left: 0%;
	}
	.team-txt-bottom{
		padding-right: 20%;
		padding-left: 20%;
	}
	.card-img-top{
		width: 100%;
		display:block;
	}
	.card-img{
		width: 100%;
	}
	.card-img2{
		width: 100%;
	}
	.card-img3{
		 width: 100%;
	}
	 .card-box{
	 	width: 100%;
	 	display: block;
	 }
	 .web-box{
	 	width: 78%;

		 
	 }
	 .work-bottom-section{
	 	width: 100%;
		display: block;
	 }
	 .work-img{
	 	 width: 100%;
	   
	 }
	.cap-detail{
		width: 100%;
	}
	 
	 
	.rating-img img{
		text-align: center;
	}
	.commt-txt{
		width: 90%;
		float: left;
		margin-left:  5%;
		
	}
	.ceo-txt{
		width: 90%;
		float: left;
		margin-left:  5%;
		
	}
	.photo-txt {
	    width: 100%;
	    float: left;
	}
	 
	.owner-txt{
		width: 100%;
		float: left;
	}
	 
	 
	.cap-img-circle{
		width: 100%;
		float: left;
		display: flex;
	}
	.circle-img-txt img{
		margin: 20px;
	}

	.bg-img-overlay{
		width: 100%;
	    display: block;

	     
	}
	.bg-overlay-1{
		width: 90%;
		margin-left: 5%;
		margin-top: 10%; 
		 
	}
	 
	.bg-overlay-2{
		width: 90%;
		margin-left: 5%;
		margin-top: 10%; 
 
	}
	.bg-overlay-3{
		width: 90%;
		margin-left: 5%;
		margin-top: 10%; 
 		margin-bottom: 80px;
	}
	.footer{
		text-align: center;
		margin-top: 80px;
		color: white;
	}
	.footer-menu-item{
		 
	}
	.footer-menu{
		 text-align: center;
		 margin-top: 30px;
	}
	.footer-menu a{
		 list-style: none;
		 text-decoration: none;
		 font-weight: 700;
		 color: white;
		 margin-left: 20px;

	}
 }

 @media screen and (min-width: 480px) and (max-width:860px) { 
 	.box{
 		display: flex;
 	}
 	.home-box{
	     
	  }
	  .cart-box{
	  	 display: none;
	  }
	  .team-box{
	  	 
	  }
	  .card-img-top{
		width: 100%;
		display:block;
		}
		.card-img{
			width: 45% !important;
			margin-right:3% !important; 
		}
		.card-img2{
			width: 45% !important;
			margin-left:3% !important;
		}
		.card-img3{
			 display: none;
		}
		.card-box{
		 	width: 100%;
		 	display: block;
		 }
		 .web-box{
		 	float: left;
		 	width: 30%;
			 
		 }
		 .work-bottom-section{
		 	width: 100%;
			display:block;
			float: left;
			justify-content: space-around;
		 }
		 .work-img{
		 	 width: 45%;
		 	 margin: 2%;
		 	 float: left;
		 }
		 .hide{
		 	display: none;
		 }
		 .bg-top-col{
		 	width: 100%;
		 }
		 .bg-tometo img{
		 	width: 50%;
		 	height: 50%;
		 }
		 .bg-img-overlay{
		width: 100%;
	    display: flex;
	    justify-content: space-around;
	     margin-bottom: 80px;
	     
	}
	.bg-overlay-1{
		width: 45%; 
		margin-top: 10%; 
		margin-bottom: 10%; 
		 
	}
	 
	.bg-overlay-2{
		width: 45%;
		margin-top: 10%; 
		margin-bottom: 10%;
 
	}
	.bg-overlay-3{
		 display: none; 
 	    margin-bottom: 10%;
    }
    .ceo-txt{
		width: 45%;
		float: left;
		
	}
	.owner-txt{
		width: 45%;
		float: left;
	}
	.photo-txt {

     display: none;

    }
  }